@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #21252b;
    color: white;
}

::-webkit-scrollbar{
    display: none;
}

.slick-prev, .slick-next {
    z-index: 10;
    color: white;
  }
  .slick-prev {
    left: -25px;
    margin-top: 5px;
}
.slick-next {
      margin-top: 5px;
    right: -25px;
  }
  

  @keyframes flash {
    0% {
      opacity: 1;
      filter: brightness(100%);
    }
    50% {
      opacity: 1;
      filter: brightness(150%);
    }
    100% {
      opacity: 1;
      filter: brightness(100%);
    }
  }
  
  .animate-flash {
    animation: flash 0.5s;
  }
  